@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,900';button,a{text-decoration:none;outline:none;-webkit-transition:.4s;transition:.4s;color:#333}input[type=submit]:focus,button:focus,a:hover{text-decoration:none;outline:none;color:#0297f3}img{max-width:100%;height:auto}h1,h2,h3,h4,h5,h6{margin:0 0 15px;line-height:1.3em;font-weight:500;color:#1c223a}html,body{height:100%}body{font-family:poppins,sans-serif;font-weight:400;font-size:16px;line-height:2em;color:#686b75}input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 1000px #fff inset!important}.heading-2{font-size:48px}.heading-3{font-size:38px}.heading-4{font-size:28px}.text-white a,.text-white{color:#fff}.text-green a,.text-green{color:#1cc9bd}.text-blue a,.text-blue{color:#1992ec}.upper{text-transform:uppercase}.middle-row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.padding-left-50{padding-left:50px}.table-cell{display:table-cell;vertical-align:middle;width:100%}.section-padding{padding-top:120px;padding-bottom:120px;background-size:auto 100%;background-position:left center;background-repeat:no-repeat}.section-padding-top{padding-top:120px;background-size:auto 100%;background-position:left center;background-repeat:no-repeat}.section-padding-bottom{padding-bottom:120px;background-size:auto 100%;background-position:left center;background-repeat:no-repeat}
#checkout-button {
    height: 36px;
    background: #556cd6;
    color: white;
    width: 100%;
    font-size: 14px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.6;
    border-radius: 0 0 6px 6px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  }
  #checkout-button:hover {
    opacity: 0.8;
  }